### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

/ArchipelagoMod/node_modules
/ArchipelagoMod/packed
/ArchipelagoMod/dist
/ArchipelagoMod/output
/ArchipelagoMod/build/
/ArchipelagoMod/package-lock.json

/DataDumper/node_modules
/DataDumper/packed
/DataDumper/dist
/DataDumper/output
/DataDumper/build/
/DataDumper/package-lock.json
