body.darkMode.superDark .btn-gamemode-ap {
  color: #fff;
  background-color: #6d3a61;
  border-color: #472640;
}

.btn-gamemode-ap {
  color: #fff;
  background-color: #6d3a61;
  border-color: #472640;
}